:root {
  --gray-500: rgba(102, 112, 133, 1);
  --text-body-font-family: "Inter", Helvetica;
  --text-body-font-weight: 400;
  --text-body-font-size: 14px;
  --text-body-letter-spacing: 0px;
  --text-body-line-height: 20px;
  --text-body-font-style: normal;
  --text-xs-medium-font-family: "Inter", Helvetica;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-medium-font-style: normal;
  --global-colors-teamboarding-tb-primary-dark: var(--global-colors-primary-violet-700);
  --global-colors-neutral-neutral-500: rgba(121, 119, 118, 1);
  --global-colors-secondary-violet-500: rgba(85, 24, 114, 1);
  --global-colors-neutral-neutral-900: rgba(29, 27, 27, 1);
  --global-colors-neutral-neutral-700: rgba(71, 70, 70, 1);
  --global-colors-negative-red-500: rgba(223, 55, 48, 1);
  --global-colors-positive-green-200: rgba(82, 221, 180, 1);
  --global-colors-primary-violet-300: rgba(170, 160, 255, 1);
  --global-colors-primary-violet-200: rgba(198, 191, 255, 1);
  --global-colors-teamboarding-tb-primary-light: var(--global-colors-primary-violet-50);
  --global-colors-primary-violet-700: rgba(75, 31, 252, 1);
  --global-colors-neutral-neutral-600: rgba(95, 94, 94, 1);
  --global-colors-neutral-neutral-white: rgba(255, 255, 255, 1);
  --global-colors-neutral-neutral-300: rgba(173, 171, 170, 1);
  --global-colors-neutral-neutral-100: rgba(230, 226, 225, 1);
  --global-colors-primary-violet-50: rgba(243, 238, 255, 1);
  --global-colors-neutral-neutral-50: rgba(245, 245, 245, 1);
  --global-colors-neutral-neutral-200: rgba(200, 198, 197, 1);
  --global-colors-positive-green-400: rgba(1, 164, 128, 1);
  --global-colors-positive-green-25: rgba(212, 243, 235, 1);
  --tokens-text-primary: var(--global-colors-neutral-neutral-900);
  --tokens-text-secondary: var(--global-colors-neutral-neutral-600);
  --tokens-text-invert: var(--global-colors-neutral-neutral-white);
  --tokens-text-tertiary: var(--global-colors-neutral-neutral-300);
  --tokens-border-secondary: var(--global-colors-neutral-neutral-100);
  --tokens-background-primary: var(--global-colors-neutral-neutral-white);
  --tokens-border-primary: var(--global-colors-neutral-neutral-200);
  --tokens-components-chips-positive-dark: var(--global-colors-positive-green-400);
  --tokens-components-button-primary: var(--global-colors-primary-violet-700);
  --tokens-components-chips-negative-dark: var(--global-colors-negative-red-500);
  --tokens-components-chips-violet-dark: var(--global-colors-primary-violet-700);
  --tokens-background-secondary: var(--global-colors-neutral-neutral-50);
  --tokens-components-chips-positive-light: var(--global-colors-positive-green-25);

  --heading-3-font-family: "Inter", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 22px;
  --heading-3-letter-spacing: -0.66px;
  --heading-3-line-height: 24px;
  --heading-3-font-style: normal;
  --label-font-family: "Inter", Helvetica;
  --label-font-weight: 500;
  --label-font-size: 11px;
  --label-letter-spacing: 0.22px;
  --label-line-height: 150%;
  --label-font-style: normal;
  --text-small-font-family: "Inter", Helvetica;
  --text-small-font-weight: 400;
  --text-small-font-size: 12px;
  --text-small-letter-spacing: 0px;
  --text-small-line-height: 20px;
  --text-small-font-style: normal;

  --heading-2-font-family: "Inter", Helvetica;
  --heading-2-font-weight: 600;
  --heading-2-font-size: 26px;
  --heading-2-letter-spacing: -0.78px;
  --heading-2-line-height: 28px;
  --heading-2-font-style: normal;
}
